# Variables , Number , Boolean , Strings

In [11]:
a=5

In [13]:
type(a)

int

In [14]:
a='Darell'

In [15]:
a

'Darell'

In [16]:
a=True

In [18]:
type(a)

bool

 # Operator

In [19]:
x1=5

In [20]:
type(x1)

int

In [21]:
x2=2.0
type(x2)

float

In [22]:
int(x2)

2

In [23]:
x3=True
type(x3)

bool

In [24]:
type("Tutis")

str

In [27]:
y=10
text=" Ribu Rupiah"

In [28]:
print(str(y)+text)

10 Ribu Rupiah

In [30]:
'DArell'

'DArell'

In [32]:
int(15/5)

3

In [4]:
6/2

3.0

In [34]:
x=7**2
x

49

In [6]:
x=7**2

In [7]:
x

49

In [8]:
x==49

True

In [35]:
a=4
a=6
a=1

a

1

In [15]:
"Darell"[0:4]

'Dare'

In [43]:
def calculate(x):
    print(x+5)

In [44]:
type(calculate(5))

10

NoneType

In [50]:
def compareSix(x):
    if x>6:
        return('Greater')
    elif x<6:
        return('Less')
    elif x<0:
        return('Negative')
    else:
        return('Same')

In [51]:
compareSix(-7)

'Less'

5

In [19]:
def compareNumberSix(x):
    if x > 6 :
        return('Greater')
    elif x<6:
        print('Less')
    elif x<0:
        print('Negative')
    else :
        return('Same')

In [13]:
compareNumberSix(6)

'Same'

In [14]:
compareNumberSix(3)

Less

Less

# List

In [58]:
Mahasiswa=['Darell','Titus','Faiz','Rian',5,4]

In [59]:
Mahasiswa.append('Adit')
Mahasiswa

['Darell', 'Titus', 'Faiz', 'Rian', 5, 4, 'Adit']

# Tuple

In [63]:
a=(1,2,3,'Hello')
a[3]

'Hello'

In [39]:
def kotak(x):
    luas=x**4
    keliling=4*x
    print('Luas dan Keliling')
    return luas,keliling

In [42]:
kotak(5)

Luas dan Keliling

(625, 20)

In [65]:
dict={'a1':"Hello",'b2':'World'}

In [69]:
dict['Hello']

KeyError: 'Hello'

In [70]:
dict={}
dict['satu']=1
dict['dua']=2

In [71]:
print(dict)

{'satu': 1, 'dua': 2}

In [73]:
dict.get('satu')

1

In [75]:
def count(x):
    total=0
    for i in x:
        if i >=5:
            total +=1
    return total

In [78]:
listA=[1,2,3,4,5,6,7]*5
listA

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 4,
 5,
 6,
 7]

In [77]:
count(listA)

3

In [10]:
c

3